.Icon {
    color: var(--black);
  }
  
  .Icon svg {
    width: 23px;
    height: 23px;
  }
  
  .Icon .error {
    color: var(--error-color);
  }
  
  .Icon .doubt {
    color: var(--doubt-color);
  }
  
  .Icon .zap {
    color: var(--zap-color);
  }